.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@font-face {
font-family: Klinic;
src: url("font/KlinicSlabMedium.otf") format("opentype");
}

@font-face {
font-family: Klinic;
font-weight:bold;
src: url("font/KlinicSlabBold.otf") format("opentype");
}

@font-face {
font-family: Klinic;
font-style:italic;
src: url("font/KlinicSlabMediumIt.otf") format("opentype");
}

@font-face {
font-family: Dense;
src: url("font/Dense-Regular.otf") format("opentype");
}

@font-face {
font-family: Fabrica;
src: url("font/Fabrica.otf") format("opentype");
}

@font-face {
font-family: Nexa;
src: url("font/NexaLight.otf") format("opentype");
}

@font-face {
font-family: Nexa;
font-weight:bold;
src: url("font/NexaBold.otf") format("opentype");
}

@font-face {
font-family: Code;
src: url("font/CodeLight.otf") format("opentype");
}

@font-face {
font-family: Code;
font-weight:bold;
src: url("font/CodeBold.otf") format("opentype");
}

/*Chart*/
#chart {
	width:96%;
	margin:20px auto 20px;
	height:140px;
}

#chart svg .sell{fill:rgb(165,0,38)}
#chart svg .buy{fill:rgb(0,104,55)}

#radial {
	margin:20px;
	float:left;
}

#radial svg .perc-value{
	font-family:arial;
	letter-spacing:0px;
	text-transform:uppercase;
	font-weight:bold;
}

#quartile {
	margin:20px;
	float:right;
	font-family:arial;
	font-size:10px; 
	line-height:15px;
}

#quartile rect {
	height:15px;
}

#quartile rect.over {
	fill:green;
}

#quartile rect.under {
	fill:red;
}
                

/*Table*/

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {        
	color:#666;
	background:#eaebec;
	margin:20px auto;
	border:#ccc 1px solid;
	width:96%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.code {
	font-family:Code;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:12px;
}

.nexa {
	font-family:Nexa;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:12px;
}

.dense {
	font-family:Dense;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:18px;
}

.fabrica {
	font-family:Fabrica;
	letter-spacing:0px;
	text-transform:uppercase;
	font-size:12px;
}

.klinic {
	font-family:Klinic;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:14px;
}

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr:nth-child(even) td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}

table td[data-pivot]:hover{
	cursor:pointer;
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/*Pivot*/

#pivot {
	margin:10px 20px 10px 20px;
	font: normal 12px arial; 
	padding:5px;
}

#pivot p {
	display:inline-block;
	float:left;
	font-size:14px;
	line-height:20px;
	color:#666;
	font-weight:bold;
	margin-right:20px;
}

.pivot {
	padding:5px 10px 5px 10px;
	background:#fff;
	border-radius:5px;
	box-shadow:1px 1px 0 #ccc;
	display:inline-block;
	color:#666;
	margin-right:10px;
	float:left;
} 

.pivot:hover {
	color:#000;
	cursor:pointer;
}

.clearall {
	float:right;
	background:#666;
	color:#eaeaea;
	margin-right:0;
}

.clearall:hover {
	color:#fff;
}