<!doctype html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Web Sockets Decoupled</title>
	<meta name="author" content="Callum Rimmer <callum@deadtrendy.co.uk>">
	<link rel="stylesheet" href="style/reset.css" media="screen">
	<link rel="stylesheet" href="style/style.css" media="screen">
	<script data-main="js/main" src="js/vendor/require.js"></script>
</head>

<body>

	<div id="canvas">
        <div id="radial" class="clearfix"></div>
		<div id="quartile" class="clearfix"></div>
		<div id="chart" class="clearfix"></div>
		<div id="table">
			<div id="pivot" class="clearfix"></div>
			<div id="table-container"></div>
		</div>
	</div>

</body>
</html>
